* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background-color: orange;
    font-size: 25px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:aliceblue
}

.container {
    width: 1000px;
    height: 500px;
    margin: 10px;
    text-align: center;
    border: none 2px;
}

.container div {
    margin: 10px;

    text-align: center;
    
}

